### Eclipse ###
.classpath
.project
.settings/
.metadata/
.recommenders/
.externalToolBuilders/
.launch
.sts4-cache/

### Java ###
*.class
*.log

# Build output (프로젝트에 따라)
bin/
target/

### OS ###
.DS_Store
Thumbs.db